.env
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.streamlit/secrets.toml
database/*.sqlite3
database/*.db
models/artifacts/
/models/metadata/model_registry.json
*.joblib
data/raw/*
!data/raw/README.md
!data/raw/*/
data/raw/*/*
!data/raw/*/README.md
reports/
.ipynb_checkpoints/
data/annotations/*
!data/annotations/togolese_examples.template.csv